<extend name="Public/index"/>
<block name="content">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">商品列表</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <!-- DataTables Advanced Tables -->
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="dataTable_wrapper">
              <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">

                  <form action="{:U('Admin/Goods/index')}" method="get">
                    
                  <div class="col-sm-6">
                    <div class="dataTables_length" id="dataTables-example_length">
                      <label>显示 
                        <select name="num" aria-controls="dataTables-example" class="form-control input-sm">
                          <option <?php echo $_GET['num'] == 2 ? 'selected' : '' ?> value="2">2</option>
                          <option <?php echo $_GET['num'] == 5 ? 'selected' : '' ?> value="5">5</option>
                          <option <?php echo $_GET['num'] == 10 ? 'selected' : '' ?> value="10">10</option>
                          <option <?php echo $_GET['num'] == 20 ? 'selected' : '' ?> value="20">20</option>
                        </select>
                        条
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div id="dataTables-example_filter" class="dataTables_filter">
                      <label>商品名:<input value="{$Think.get.keyword}" name="keyword" type="search" class="form-control input-sm" placeholder="" aria-controls="dataTables-example"></label>
                      <button type="submit" class="btn btn-info">查询</button>
                    </div>
                  </div>

                  </form>

                </div>
                <div class="row">
                  <div class="col-sm-12">
                  <!-- 用户列表遍历 -->
                    <table id="dataTables-example" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dataTables-example_info">
                      <thead>
                        <tr role="row">
                          <th  tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 30px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ID</th>

                          <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 80px;" aria-label="Browser: activate to sort column ascending">商品图片</th>

                          <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 80px;" aria-label="Browser: activate to sort column ascending">商品名</th>

                          <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 80px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">所属分类</th>

                          <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 50px;" aria-label="Platform(s): activate to sort column ascending">库存</th>

                          <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 50px;" aria-label="Engine version: activate to sort column ascending">价格</th>
                          
                          <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 40px;" aria-label="Engine version: activate to sort column ascending">销量</th>
                          <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 40px;" aria-label="Engine version: activate to sort column ascending">新品</th>
                          <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 40px;" aria-label="Engine version: activate to sort column ascending">热销</th>
                          <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 50px;" aria-label="Engine version: activate to sort column ascending">规格</th>
                          <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 50px;" aria-label="Engine version: activate to sort column ascending">收藏</th>
                          <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 50px;" aria-label="Engine version: activate to sort column ascending">赞</th>
                           <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 50px;" aria-label="Engine version: activate to sort column ascending">上下架</th>
                
                          <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 150px;" aria-label="Engine version: activate to sort column ascending">商品详情</th>

                          <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 110px;" aria-label="CSS grade: activate to sort column ascending">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <foreach name="goodss" item="vo" key="k" >   
                          <tr class="gradeA odd" role="row">
                            <td class="sorting_1 sid">{$vo.gid}</td>
                            <td class="sorting_1">
                              <img src="{$vo.pic}" width="80px">
                            </td>
                            <td>{$vo.title}</td>
                            <td>
                            <foreach name="cates" item="v" key="ke" > 
                                <if condition="$v.id eq $vo.cid ">{$v.name}</if>  
                              </foreach>
                            </td>
                            <td class="center">{$vo.num}</td>
                            <td class="center">{$vo.price}</td>
                            <td class="center">{$vo.sale}</td>
                            <td class="center">
                            <if condition="($vo.is_new eq 0) "> 
                                是
                                <else /> 
                                否
                              </if>
                            </td>
                            <td class="center">
                            <if condition="($vo.is_hot eq 0) "> 
                                是
                                <else /> 
                                否
                              </if>
                            </td>
                            <td class="center">{$vo.standard}</td>
                            <td class="center">{$vo.collect}</td>
                            <td class="center">{$vo.zan}</td>
                            <td class="center">
                            <if condition="($vo.state eq 0) "> 
                                上架
                                <else /> 
                                下架
                              </if>
                            </td>
                            <td class="center">{$vo.content}</td>
                            <td class="center">
                              <a href="{:U('Admin/Goods/save',array('id'=>$vo['gid']))}" class="btn btn-primary btn-circle" type="button"><i class="fa fa-list"></i></a>
                              <a href="{:U('Admin/Goods/img',array('gid'=>$vo['gid']))}" class="btn btn-info btn-del  " type="button">修改封面</a>
                              
                            </td>
                          </tr>
                        </foreach>
                      </tbody>
                    </table>
                  
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                  </div>
                  <style type="text/css">
                      #pages a,#pages span{ background-color: #fff;
                              border: 1px solid #ddd;
                              color: #337ab7;
                              float: left;
                              line-height: 1.42857;
                              margin-left: -1px;
                              padding: 6px 12px;
                              position: relative;
                              text-decoration: none;}
                      #pages span {
                            background-color: #337ab7;
                            border-color: #337ab7;
                            color: #fff;
                            cursor: default;
                            z-index: 2;
                            }
                  </style>
                 
                  <div class="col-sm-6">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                       <div id="pages">
                          {$pages}
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.table-responsive -->

          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
  </div>

  <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript">
    // //绑定单击事件
    // $('.btn-del').click(function(){
    //   // alert('222');

    //   //获取id
    //   var id = $(this).parents('tr').find('.sid').html();
    //   var url = "{:U('Admin/Goods/ajaxdel')}";
    //   // alert(url);
    //   var btn = $(this);
    //   //ajax
    //   $.get(url,{id:id},function(data){
    //     // console.log(data);
    //     if(data == 1){
    //       // alert('成功');
    //      btn.parents('tr').remove();
    //     }else{
    //       alert('失败');
    //     }
    //   })

    // })
  </script>
</block>